@import '../../vars';

.form-group {
    background: $primary-background-light;
    width: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    &__input {
        font-size: 15px;
        border: none;
        outline: none;
        border-bottom: 2px solid $non-active;
        background: $primary-background-light;
        color: #fff;
        font-size: 19px;
        padding: 4px 8px;
        border-radius: 2px;
        width: 100%;
        &:focus {
            border-color: $primary;
        }
        &:focus + .form-group__label {
            color: $primary; 
        }
    }
    &__label {
        color: $non-active;
        display: block;
        margin-left: 6px;
        margin-top: 6px;
        &--error {
            color: $error;
        }
    }
    &__error{
        position: absolute;
        left: 8px;
        bottom: -25px;
        color: $error;;
    }
    &__counter {
        position: absolute;
        right: 8px;
        bottom: -24px;
    }
}

.error {
    color: $error !important;
}
.input-error {
    border-bottom-color: $error !important;
}
