@import '../../vars';

.nav {
    width: 275px;
    height: 100vh;
    padding: 0 40px 10px 0; 
    position: fixed;
    left: 65px;
    top: 0;
    overflow-y: auto;
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__icon {
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            background: $primary-light;
        }
    }
    &__tweet-btn {
        margin: 10px 0;
    }
    &__profile {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 9999px;
        margin-top: auto;
        outline: none;
        &:hover, &:focus {
            background: $primary-light;
        }
    }
    &__profile-icon {
        font-size: 20px;
        height: 20px;
    }
    &__profile-info {
        margin: 0 30px 0 10px;
        overflow: hidden;
    }
    &__profile-handle-container, &__profile-name-container {
       overflow-wrap: break-word;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       color: #fff;
    }
    &__profile-handle-container {
        color: $non-active;
    }
    &__profile-name {
        color: #fff;
    }
    &__profile-handle {
        color: $non-active;
    }
    &__profile-image {
        min-width: 40px;
        max-width: 40px;
        img {
            max-width: 100%;
            border-radius: 50%;
        }
    }
    &__menu {
        position: fixed;
        bottom: 85px;
        left: 30px;
        background: $primary-background;
        box-shadow: $shadow;
        width: 300px;
        min-width: 260px;
        border-radius: 14px; 
        padding-bottom: 10px;
    }
    &__menu-header {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid $border;
    }
    &__menu-icon {
        margin-left: auto;
        font-size: 20px;
        height: 20px;
        path {
            fill: $primary !important;
        }
    }
}
