@import '../../vars';

.nav {
    max-width: 275px;
    width: 275px;
    height: 100vh;
    padding: 0 15px 10px 20px; 
    position: fixed;
    left: 45px;
    top: 0;
    overflow-y: auto;
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__icon {
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            background: $primary-light;
        }
    }
    &__profile {
        cursor: pointer;
        border-radius: 9999px;
        margin-top: auto;
        width: 100%;
        transition: all 200ms ease-in-out;
        outline: none;
        &:hover {
            background: $primary-light;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
    }
    &__profile-inner {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        outline: none;
    }
    &__profile-icon {
        color: #fff;
        font-size: 18px;
        height: 18px;
    }
    &__profile-info {
        margin: 0 30px 0 10px;
        overflow: hidden;
        flex: 1;
    }
    &__profile-handle-container, &__profile-name-container {
       overflow-wrap: break-word;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       color: #fff;
    }
    &__profile-handle-container {
        color: $non-active;
    }
    &__profile-name {
        color: #fff;
        font-weight: $bold;
    }
    &__profile-handle {
        color: $non-active;
    }
    &__profile-image {
        width: 40px;
        height: 40px;
        background: $banner;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__actions-menu {
        position: fixed;
        top: 280px;
        left: 65px;
        box-shadow: $shadow;
        border-radius: 5px;
        z-index: 12;
    }
    &__menu {
        position: fixed;
        bottom: 85px;
        left: 30px;
        background: $primary-background;
        box-shadow: $shadow;
        width: 300px;
        min-width: 260px;
        border-radius: 14px; 
        padding-bottom: 10px;
        z-index: 12;
        cursor: default;
    }
    &__menu-header {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid $border;
    }
    &__menu-icon {
        margin-left: auto;
        font-size: 20px;
        height: 20px;
        path {
            fill: $primary !important;
        }
    }
}
