// Colors
$primary-background: rgb(21, 32, 43);
$primary-background-light: rgb(25, 39, 52);
$non-active: rgb(136, 153, 166);
$primary: rgb(29, 161, 242);
$primary-light: rgba(29, 161, 242, 0.1);
$primary-dark: rgb(26, 145, 218);
$border: rgb(61, 84, 102);
$shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
$overlay: rgba(110, 118, 125, 0.4);
$error: rgb(224, 36, 94);

// Font weights
$bold: 700;
$normal: 400;
