@import './vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

html {
    font-size: 15px;
}
body {
    background: $primary-background;
    line-height: 1.3125;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.underlineHover {
    &:focus, &:hover {
        text-decoration: underline;
    }
}
.relative {
    position: relative;
}
.ml-320 {
    margin-left: 320px;
}
.container-1000 {
    max-width: 1000px;
}
.container-600 {
   max-width: 600px;
}
.container-990 {
    max-width: 990px;
    margin: auto;
}
.flex {
    display: flex;
    width: 100%;
}
.flex-justify-between {
    justify-content: space-between;
}
.flex-align-vertical {
    align-items: center;
}
.svg-icon {
    width: 1em;
    height: 1em;
}
.rotate-90 {
    transform: rotate(90deg);
}

.svg-icon circle {
    stroke-width: 1;
}
.divider {
    height: 10px;
    background: $search-input-background;
    width: 100%;
}
