PROD_DATABASE_URI=prod-mongo-uri
TEST_DATABASE_URI=test-mongo-uri
DEV_DATABASE_URI=dev-mongo-uri
JWTSECRET=supersecret-jwt
GCSPROJECTID=google-cloud-project-id
MAILGUN_API_KEY=something
SENDGRID_API_KEY=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