@import '../../vars';

.wall {
    max-width: 600px;
    width: 600px;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    height: 100%;
    min-height: 720px;
    &--320 {
        margin-left: 320px;
    }
}
