@import '../../vars';

.wall-header {
    height: 53px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: $primary-background;
    z-index: 2;
    border-bottom: 1px solid $border;
    &--no-border {
        border-bottom: none;
    }
    &--left {
        flex: 1;
    }
    &__profile {
        width: 30px;
        height: 30px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-right: 30px;
        cursor: pointer;
        background-color: $banner;
        display: none;
    }
    &__heading {
        color: #fff;
        font-size: 19px;
        font-weight: $x-bold;
    }
    &__subheading {
        color: $non-active;
        font-size: 13px;
    }
    &__icon {
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        transition: all 200ms ease-in-out;
        position: relative;
        &:hover {
            background: $primary-light;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
        &--m22 {
            margin-right: 22px;
        }
        &--hidden {
            display: none;
        }
    }
    &__icon-inner {
        outline: none;
        font-size: 22px;
        height: 38px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: $primary;
    }
    &__menu {
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: $shadow;
        border-radius: 5px;
        z-index: 12;
        overflow: hidden;
    }
}

@media only screen and (max-width: 500px) {
    .wall-header {
        &__profile {
            display: block;
        }
        &__icon {
            &--hidden {
                display: block;
            }
        }
    }
}
