@import '../../vars';

.profile { 
    &__container {
        margin-top: -70px;
        padding: 0 15px;
        color: $non-active;
    }
    &__banner {
        background: $banner;
        height: 200px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__top-bar {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__picture {
        width: 140px;
        height: 140px;
        background: $banner;
        border-radius: 50%;
        border: 4px solid $primary-background;
        margin-left: -4px;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__name {
        color: #fff;
        font-size: 19px;
        font-weight: $x-bold;
    }
    &__handle {
        color: $non-active;
    }
    &__bio {
        color: #fff;
        margin-top: 10px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin: 10px -6px 0 -6px;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        margin: 0 6px;
        a {
            color: $primary;
            outline: none;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
    &__item-icon {
        font-size: 20px;
        margin-right: 4px;
        line-height: 20px;
        path {
            fill: $non-active !important;
        }
    }
    &__stats {
        display: flex;
        margin: 10px 0 20px 0;
    }
    &__following {
        margin-right: 20px;
    }
    &__following, &__followers {
        cursor: pointer;
        outline: none;
        a {
            color: $non-active;
        }
    }
    &__following-count, &__followers-count {
        color: #fff;
        font-weight: $bold;
        margin-right: 4px;
    }
    &__tabs {
        width: 100%;
        display: flex;
        border-bottom: 1px solid $border;
    }
}

@media only screen and (max-width: 500px) {
    .profile {
        &__items {
            justify-content: start;
        }
    }
}
