@import '../../vars';

.accountInfo {
    height: 100%;
    background: $primary-background;
    max-width: 280px;
    min-width: 280px;
    transform: translateX(-300px);
    transition: transform 200ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: scroll;
    &--active {
        transform: translateX(0);
    }
    &__header {
        display: flex;
        padding: 0 15px;
        height: 53px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $border;
        position: sticky;
        top: 0;
        left: 0;
        background: $primary-background;
    }
    &__header-heading {
        color: #fff;
        font-size: 19px;
        font-weight: $x-bold;
    }
    &__header-icon {
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        &:hover {
            background: $primary-light;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
    }
    &__header-icon-inner {
        font-size: 24px;
        height: 38px;
        width: 38px;
        color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
    }
    &__profile {
        padding: 10px 15px;
    }
    &__profile-info {
        overflow: hidden;
        flex: 1;
        cursor: pointer;
        padding: 8px 0; 
    }
    &__profile-image {
        width: 40px;
        height: 40px;
        background: $banner;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    &__profile-name-container, &__profile-handle-container {
       overflow-wrap: break-word;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       color: #fff;
    }
    &__profile-handle-container {
        color: $non-active;
    }
    &__profile-name {
        color: #fff;
        font-weight: $bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__profile-handle {
        color: $non-active;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 500px) {
    .accountInfo {
        max-width: 70%;
    }
}
