@import '../../vars';

.messages {
    max-width: 990px;
    display: flex;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    height: 100vh;
    justify-content: space-between;
    flex-grow: 1;
    &__chat {
        max-width: 600px;
        flex: 1;
        &-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__new-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        text-align: center;
        &-heading {
            color: #fff;
            font-weight: $bold;
            font-size: 19px;
            margin-bottom: 10px;
        }
        &-sub {
            color: $non-active;
            margin-bottom: 20px;
        }
    }
}
