@import '../../vars';

.button {
    background: transparent;
    outline: none;
    border: none;
    color: $primary;
    font-size: 15px;
    font-weight: $bold;
    border-radius: 9999px;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    transition: all 200ms ease-in-out;
    overflow: visible;
    &__icon {
        display: none;
    }
    &--fit {
        width: fit-content;
    }
    &__inner {
        display: block;
        padding: 5px 15px;
        text-align: center;
        border-radius: 9999px;
        outline: none;
    } 
    &--md {
        padding: 10px 14px;
    }
    &--lg {
        padding: 14px; 
    }
    &--x-lg {
        padding: 18px;
    }
    &:hover {
        background: $primary-light; 
    }
    &:focus {
        box-shadow: $outline-shadow;
    }
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }
    &__cancel {
        background: $search-input-background; 
        color: #fff;
        border-color: transparent;
        &:hover, &:focus {
            background: $search-input-background-light; 
        }
        &:disabled {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
        }
    }
    &__outlined {
        border: 1px solid $primary;
    }
    &__filled {
        background: $primary;
        color: #fff;
        border: none;
        &:hover {
            background: $primary-dark;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
        &:disabled {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
        }
    }
    &__danger {
        background: $error;
        color: #fff;
        border: none;
        &:hover {
            background: $error-dark;
        }
    }
    &__unfollow {
        background: $primary;
        color: #fff;
        border-color: $error;
        position: relative;
        &:hover {
            background: $error;
            border-color: $error;
        }
        &:after {
            content: 'Following';
        }
        &:hover:after {
            content: 'Unfollow';
        }
        &:disabled {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
        }
    }
}

@media only screen and (max-width: 1270px) {
    .button {
        &__icon {
            display: block;
        }
        &__round {
            border-radius: 50%; 
            width: auto !important;
            overflow: hidden;
        }
        &__round  &__inner {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__round &__icon {
            font-size: 22px;
            height: 22px;
        }
        &__round--lg {
            box-shadow: $shadow;
        }
        &__round--lg &__inner {
            width: 58px;
            height: 58px;
        }
        &__round--lg &__icon {
            font-size: 24px;
            height: 24px;
        }
        &__round .button__text {
            display: none;
        }
    }
}
