@import '../../vars';

.button {
    background: transparent;
    outline: none;
    border: none;
    color: $primary;
    font-size: 15px;
    font-weight: $bold;
    border-radius: 9999px;
    cursor: pointer;
    width: 100%;
    transition: all 200ms ease-in-out;
    &--fit {
        width: fit-content;
    }
    &__inner {
        display: block;
        padding: 5px 15px;
        text-align: center;
        border-radius: 9999px;
        outline: none;
    } 
    &--md {
        padding: 10px 14px;
    }
    &--lg {
        padding: 14px; 
    }
    &:hover {
        background: $primary-light; 
    }
    &:focus {
        box-shadow: $outline-shadow;
    }
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }
    &__cancel {
        background: $search-input-background; 
        color: #fff;
        border-color: transparent;
        &:hover, &:focus {
            background: $search-input-background-light; 
        }
        &:disabled {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
        }
    }
    &__outlined {
        border: 1px solid $primary;
    }
    &__filled {
        background: $primary;
        color: #fff;
        border: none;
        &:hover {
            background: $primary-dark;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
        &:disabled {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
        }
    }
    &__danger {
        background: $error;
        color: #fff;
        border: none;
        &:hover {
            background: $error-dark;
        }
    }
    &__unfollow {
        background: $primary;
        color: #fff;
        position: relative;
        border-color: $error;
        &:hover {
            background: $error;
            border-color: $error;
        }
        &:after {
            content: 'Following';
        }
        &:hover:after {
            content: 'Unfollow';
        }
        &:disabled {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
        }
    }
}
