@import '../../_vars.scss';

.menuItem {
    background: $primary-background;
    color: #fff;
    outline: none;
    transition: all 200ms ease-in-out;
    display: block;
    &:hover  {
        background: $primary-background-light;
    }
    &:focus {
        box-shadow: $outline-shadow;
    }
    &:active {
        box-shadow: none;
    }
    &__inner {
        padding: 15px;
        font-size: 15px;
        outline: none;
        white-space: pre;
        display: flex;
        align-items: center;
    }
    &__icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
        margin-right: 10px;
        color: $non-active;
    }
}

.danger {
    color: $error;
}
