@import '../../_vars.scss';

.menuItem {
    background: $primary-background;
    color: #fff;
    padding: 15px;
    transition: background 200ms ease-in-out;
    &:hover, &:focus {
        background: $primary-background-light;
    }
}
