@import '../../vars';

.search-group {
    position: relative;
    width: 100%;
    &--lg {
        .search-group__input {
            padding: 10px 32px 10px 50px;
        }
        .search-group__icon {
            top: 12px;
        }
    }
    &__input {
        background: $search-input-background;
        border: 1px solid transparent;
        outline: none;
        color: #fff;
        font-size: 15px;
        padding: 6px 32px 6px 50px;
        border-radius: 9999px;
        width: 100%;
        &:focus {
            border-color: $primary;
            background: transparent;
        }
        &:focus ~ .search-group__results {
            display: block;
        }
        &:not(:placeholder-shown) ~ .search-group__results {
            display: block;
        } 
        &:focus + .search-group__icon path{
            fill: $primary;
        }
        &::placeholder {
            color: $non-active;
        }
    }
    &__icon {
        position: absolute;
        left: 20px;
        font-size: 17px;
        top: 8px;
        path {
            fill: $non-active;
        }
    }
    &__results {
        background: $primary-background;
        min-height: 70px;
        box-shadow: $shadow;
        display: none;
        position: absolute;
        width: 100%;
        z-index: 6;
        overflow-y: auto;
        max-height: calc(-53 + 80vh);
    }
    &__instruction {
        color: $non-active;
        margin: 20px;
    }
    &__user {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;
        margin-top: auto;
        outline: none;
        width: 100%;
        transition: background 200ms ease-in-out;
        &:hover, &:focus {
            background: $primary-background-light; 
        }
    }
    &__user-image {
        width: 40px;
        height: 40px;
        background: $banner;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__user-info {
        margin: 0 30px 0 10px;
        overflow: hidden;
        flex: 1;
    }
    &__user-handle-container, &__user-name-container {
       overflow-wrap: break-word;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       color: #fff;
    }
    &__user-handle-container {
        color: $non-active;
    }
    &__user-name {
        color: #fff;
        font-weight: $bold;
    }
    &__user-handle {
        color: $non-active;
    }
}
