@import '../../vars';

.landing {
    &__main-content {
        max-width: 990px;
        margin: auto;
    }
    &__footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: $primary-background;
        border-top: 1px solid $border;
        padding: 0 15px;
        display: none;
    }
    &__footer-inner {
        display: flex;
        align-items: center;
        max-width: 600px;
        margin: auto;
        padding: 15px 0;
        min-height: 53px;
    }
}

@media only screen and (max-width: 1000px) {
    .landing {
        &__main-content {
            display: flex;
            justify-content: center;
        }
        &__footer {
            display: block;
        }
    }
}

