@import '../../vars';

.sidebar {
    width: 350px; 
    position: fixed;
    top: 5px;
    right: 55px;
    z-index: 1;
    &__trends, &__who-to-follow {
        background: $primary-background-light;
        border-radius: 14px;
    }
    &__trends {
        margin: 15px 0;
    }
    &__header {
        border-bottom: 1px solid $border;
        padding: 12px 15px;
        &--radius {
            border-radius: 14px;
        }
    }
    &__footer {
        padding: 15px;
        cursor: pointer;
        border-radius: 14px;
        &:hover {
            background: rgba(255, 255, 255, 0.03);
        }
    }
    &__footer-link {
        color: $primary;
    }
    &__list-item {
        cursor: pointer;
        border-bottom: 1px solid $border;
        transition: all 200ms ease-in-out;
        outline: none;
        &:hover {
            background: rgba(255, 255, 255, 0.03);
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
    }
    &__list-item-inner {
        display: flex;
        padding: 12px 15px;
        align-items: flex-start;
        outline: none;
    }
    &__list-item-info {
       flex-grow: 1;
       align-self: center;
       margin-left: 10px;
       transition: all 200ms ease-in-out;
       &:hover .sidebar__list-item-name, &:focus .sidebar__list-item-name {
            text-decoration: underline;
       } 
    }
    &__list-item-name {
        color: #fff;
        font-weight: $bold;
        cursor: pointer;
        pointer-events: none;
    }
    &__list-item-handle {
        color: $non-active;
        pointer-events: none;
    }
    &__list-item-image-container {
        min-width: 50px;
        min-height: 50px;
        background: $banner;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            max-width: 100%;
            border-radius: 50%;
            outline: none;
            &:hover, &:focus {
                opacity: 0.9;
            }
        }
    }
    &__heading {
        color: #fff;
        font-size: 19px;
        font-weight: $bold;
    }
}
