@import '../../vars';

.navlink {
    color: #fff;
    border-radius: 9999px;
    width: fit-content;
    margin-bottom: 6px;
    outline: none;
    border: none;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    &__inner {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        transition: 200ms ease-in-out;
        outline: none;
    }
    &:hover {
        color: $primary;
        background: $primary-light;
    }
    &:focus {
        box-shadow: $outline-shadow; 
        color: $primary;
    }
    &:hover &__icon path, &:focus &__icon path {
        fill: $primary;
    }
    &--active {
        color: $primary;
        .navlink__icon path {
            fill: $primary;
        }
    }
    &__icon {
        font-size: 28px;
        height: 28px;
        color: #fff;
        path {
            transition: 200ms ease-in-out;
        }
    }
    &__text {
        font-size: 19px;
        font-weight: $bold;
        margin: 0 20px;
        transition: 200ms ease-in-out;
        pointer-events: none;
    }
}

@media only screen and (max-width: 1270px) {
    .navlink {
        &__text {
            display: none; 
        }
        &__inner {
            padding: 10px;
        }
    }    
}

@media only screen and (max-width: 500px) {
    .navlink {
        &__inner {
            padding: 8px;
        }
        &__icon {
            font-size: 24px;
            height: 24px;
        }
    }

}
