@import '../../vars';

.navlink {
    color: #fff;
    border-radius: 9999px;
    width: fit-content;
    margin-bottom: 6px;
    outline: none;
    border: none;
    transition: all 200ms ease-in-out;
    &__inner {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        transition: 200ms ease-in-out;
        outline: none;
    }
    &:hover {
        color: $primary;
        background: $primary-light;
    }
    &:focus {
        box-shadow: $outline-shadow; 
        color: $primary;
    }
    &:hover &__icon path, &:focus &__icon path {
        fill: $primary;
    }
    &--active {
        color: $primary;
        .navlink__icon path {
            fill: $primary;
        }
    }
    &__icon {
        font-size: 28px;
        height: 28px;
        color: #fff;
        path {
            fill: currentColor;
            transition: 200ms ease-in-out;
        }
    }
    &__text {
        font-size: 19px;
        font-weight: $bold;
        margin: 0 20px;
        transition: 200ms ease-in-out;
    }
}

