@import '../../vars';

.tab {
  color: $non-active;
  font-weight: $bold;
  outline: none;
  width: 100%;
  transition: all 200ms ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
  &:hover {
      background: $primary-light;
      color: $primary;
  }
  &:focus {
      box-shadow: $outline-shadow;
  }
  &__inner {
      display: block;
      padding: 15px 40px;  
      text-align:center;
      outline: none;
  }
  &--active {
    border-bottom-color: $primary;
    color: $primary;
  }
}
