@import '../../vars';

.tab {
  padding: 15px 40px;  
  color: $non-active;
  font-weight: $bold;
  outline: none;
  display: inline-block;
  width: 100%;
  text-align:center;
  transition: all 200ms ease-in-out;
  border-bottom: 2px solid transparent;
  &:hover, &:focus {
    background: $primary-light;
    color: $primary
  }
  &--active {
    border-bottom-color: $primary;
    color: $primary;
  }
}
