@import '../../vars';

.header {
    position: sticky;
    top: 0;
    background: $primary-background;
    border-bottom: 1px solid $border;
    width: 100%;
    z-index: 1;
    &__inner {
        margin: auto;
        width: 100%;
        display: flex;
        align-items:center; 
        margin: auto;
        height: 53px;
    }
    &__left {
        align-items: center;
        margin-right: 20px;
    }
    &__icon {
        font-size: 26px;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 200ms ease-in-out;
        margin-right: 20px;
        &:hover {
            background: $primary-light;
        }
    }
    &__actions {
        max-width: 240px;
        display:flex;
        margin-left: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .header {
        &__actions {
            display: none;
        }
        &__inner {
            justify-content: center;
        }
    } 
}
