@import '../../vars';

.messageBox {
    position: relative;
    padding-top: 53px;
    max-width: 600px;
    width: 600px;
    height: 100%;
    transform: translateZ(0);
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border;
        height: 53px;
        padding: 0 12px 0 15px;
        position: fixed;
        top: 0;
        width: 100%;
        background: $primary-background;
        &--left {
            display: flex;
            align-items: center;
        }
    }
    &__header-name {
        font-size: 19px;
        font-weight: $x-bold;
        color: #fff;
    }
    &__header-handle {
        color: $non-active;
        font-size: 13px;
    }
    &__header-icon {
        border-radius: 50%;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        color: $primary;
        outline: none;
        &:hover {
            background: $primary-light;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
    }
    &__header-icon-back {
        margin-right: 20px;
        display: none;
    }
    &__header-icon-inner {
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: 22px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        outline: none;
    }
    &__body {
        padding: 20px 15px 0 15px;
        overflow-y: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__messages {
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
    &__message {
        display: flex;
        align-items: flex-end;
        width: 70%;
        padding-bottom: 20px;
        &--current {
            align-self: flex-end;
        }
    }
    &__message-container {
        display: flex;
        flex-direction: column;
        &--current {
            margin-left: auto;
        }
    }
    &__message-content {
        background: $border;
        color: #fff;
        padding: 10px 15px;
        border-radius: 18.75px 18.75px 18.75px 0;
        margin-right: auto;
        margin-left: 0;
        &--current {
            background: $primary;
            border-radius: 18.75px 18.75px 0 18.75px;
            cursor: pointer;
            transition: background 200ms ease-in-out;
            margin-left: auto;
            margin-right: 0;
            &:hover, &:focus {
                background: $primary-dark;
            }
        }
    }
    &__message-date {
        color: $non-active;
        font-size: 13px;
        &--current {
            align-self: flex-end;
        }
    }
    &__message-author-image {
        min-width: 40px;
        min-height: 40px;
        background: $banner;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 10px;
        margin-bottom: 18px;
    }
    &__footer {
        display: flex;
        align-items:flex-end;
        padding: 6px 8px;
        border-top: 1px solid $border;
        max-width: 100%;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: $primary-background;
    }
    &__footer-input-group {
        align-self: center;
        position: relative;
        color: #fff;
        background: $search-input-background;
        border-radius: 16px;
        padding: 6px 10px;
        border: 1px solid transparent;
        flex: 1;
        margin: 0 6px;
        &:focus {
            border-color: $primary;
        }
    }
    &__footer-input {
        margin-right: 30px;
    }
    &__footer-input-icon, &__footer-icon {
        border-radius: 50%;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        outline: none;
        color: $primary;
        &:hover {
            background: $primary-light;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
    }
    &__footer-icon-inner {
        height: 40px;
        width: 40px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        outline: none;
    }
    &__footer-icon {
        &--disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
        }
    }
    &__footer-input-icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__footer-input-icon-inner {
        height: 32px;
        width: 32px;
    }
}
.DraftEditor-editorContainer {
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-all;
}

@media only screen and (max-width: 1000px) {
    .messageBox {
        &__header-icon-back {
            display: block;
        }
    }
}

@media only screen and (max-width: 680px) {
    .messageBox {
        width: 100%;
        max-width: 100%;
    }    
}
