@import '../../vars';

.login-container {
    background: $primary-background;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.login {
    max-width: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
        font-size: 42px;
    }
    &__form {
        width: 100%;
    }
    &__form-group {
        margin-bottom: 20px;
    }
    &__heading {
        font-size: 23px;
        font-weight: $bold;
        color: #fff;
        margin: 15px 0 20px 0;
    }
}
