@import '../../vars';

.tweet-textarea {
    display: flex;
    padding: 10px 15px;
    width: 100%;
    &__profile-image {
        min-width: 50px;
        min-height: 50px;
        cursor: pointer;
        outline: none;
        background: $banner;
        border-radius: 50%;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            max-width: 100%;
            &:hover, &:focus {
                opacity: 0.9;
            }
        }
    }
    &__icon {
        border-radius: 50%;
        transition: all 200ms ease-in-out;
        margin-right: 2px;
        cursor: pointer;
        outline: none;
        &--disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
        }
        &:hover {
            background: $primary-light;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
    }
    &__icon-inner {
        font-size: 24px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        outline: none;
    }
    &__right {
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        width: 100%;
        overflow-x: hidden;
        margin-top: 12px;
    }
    &__image-preview-container {
        max-height: 300px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr));
        grid-gap: 10px;
        height: 300px;
    }
    &__image-preview {
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
        max-height: 100%;
    }
    &__image-preview-icon {
        font-size: 20px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.77);
        border-radius: 50%;
        margin: 5px;
        transition: background 200ms ease-in-out;
        cursor: pointer;
        color: #fff;
        &:hover, &:focus {
            background: rgba(26, 26, 26, 0.77); 
        }
    }
    &__editable {
        margin-bottom: 10px;
        &--lg {
            height: 9em;
        }
    }
    .DraftEditor-root {
        font-size: 19px;
        color: #fff;
        outline: none;
        word-wrap: break-word;
        max-width: 100%;
        cursor: text;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 2px;
        &--left {
            display: flex;
            margin-left: -10px;
        }
    }
}

.hashtag {
    color: $primary;
    font-style: cursive;
}

.DraftEditor-editorContainer {
    margin-right: 0;
}

@media only screen and (max-width: 680px) {
    .tweet-textarea {
        &__button {
            display: none;
        }
    }
}
