@import '../../vars';

.tweet-textarea {
    display: flex;
    padding: 10px 15px;
    width: 100%;
    align-items: flex-start;
    border-top: 1px solid $border;
    &__profile-image {
        min-width: 50px;
        height: 50px;
        cursor: pointer;
        outline: none;
        background: $banner;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            max-width: 100%;
            border-radius: 50%;
            &:hover, &:focus {
                opacity: 0.9;
            }
        }
    }
    &__icon {
        font-size: 24px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 200ms ease-in-out;
        margin-right: 2px;
        cursor: pointer;
        outline: none;
        path {
            fill: $primary !important;
        }
        circle {
            fill: $primary !important;
        }
        &:hover, &:focus {
            background: $primary-light;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        width: 100%;
        overflow-x: hidden;
        margin-top: 12px;
    }
    &__editable {
        font-size: 19px;
        color: #fff;
        outline: none;
        word-wrap: break-word;
        max-width: 100%;
    }
    &__btn {
        width: fit-content;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        &--left {
            display: flex;
            margin-left: -10px;
        }
    }
}
[contenteditable=true]:empty::before {
  content: attr(placeholder);
  pointer-events: none;
  color: $non-active;
}

