@import '../../vars';

.messages {
    &__list {
        border-right: 1px solid $border;
        width: 390px;
        &-header {
            color: #fff;
            display: flex;
            align-items:center;
            justify-content: space-between;
            padding: 8px 6px 8px 15px;
        }
        &-header-heading {
            font-size: 19px;
            font-weight: $x-bold;
        }
        &-header-icon {
            font-size: 22px;
            height: 36px;
            width: 36px;
            border-radius: 50%;
            display: flex;
            align-items:center;
            justify-content: center;
            cursor: pointer;
            transition: all 200ms ease-in-out;
            path {
                fill: $primary !important;
            }
            &:hover, &:focus {
                background: $primary-light;
            }
        }
        &-searchbar {
            padding: 8px 10px;
            border-top: 1px solid $border;
            border-bottom: 1px solid $border;
        }
        &-item {
            display: flex;    
            padding: 12px 15px;
            align-items: flex-start;
            cursor: pointer;
            transition: all 200ms ease-in-out;
            &:hover, &:focus {
                background: rgba(255, 255, 255, 0.03);
            }
        }
        &-item-info {
            overflow: hidden;
            flex: 1;
            color: $non-active;
        }
        &-item-image {
            min-width: 50px;
            min-height: 50px;
            background: $banner;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
        &-item-date {
            color: $non-active;
        }
        &-user, &-user-last-message {
           overflow-wrap: break-word;
           overflow: hidden;
           white-space: nowrap;
           text-overflow: ellipsis;
        }
        &-user-name {
            color: #fff;
            font-weight: $bold;
            margin-right: 6px;
        }
        &-user-handle {
            color: $non-active;
        }
        &-user-last-message-text {
            color: $non-active;
        }

    }
}
