@import '../../vars';

.messages {
    &__list {
        border-right: 1px solid $border;
        width: 390px;
    }
    &__list-header {
        color: #fff;
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 8px 6px 8px 15px;
    }
    &__list-header-heading {
        font-size: 19px;
        font-weight: $x-bold;
    }
    &__list-header-icon {
        cursor: pointer;
        transition: all 200ms ease-in-out;
        outline: none;
        border-radius: 50%;
        &:hover {
            background: $primary-light;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
    }
    &__list-header-icon-inner {
        font-size: 22px;
        height: 36px;
        width: 36px;
        display: flex;
        align-items:center;
        justify-content: center;
        color: $primary;
        border-radius: 50%;
        outline: none;
    }
    &__list-searchbar {
        padding: 8px 10px;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
    }
    &__list-item {
        cursor: pointer;
        transition: all 200ms ease-in-out;
        outline: none;
        &--active .messages__list-item {
            border-right: 2px solid $primary;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.03);
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
    }
    &__list-item-inner {
        display: flex;    
        padding: 12px 15px;
        align-items: flex-start;
        border-bottom: 1px solid $border;
        outline: none;
    }
    &__list-item-info {
        overflow: hidden;
        flex: 1;
        color: $non-active;
    }
    &__list-item-image {
        min-width: 50px;
        min-height: 50px;
        background: $banner;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 10px;
    }
    &__list-item-date {
        color: $non-active;
    }
    &__list-user, &__list-user-last-message {
       overflow-wrap: break-word;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
    }
    &__list-user-name {
        color: #fff;
        font-weight: $bold;
        margin-right: 6px;
    }
    &__list-user-handle, &__list-user-last-message-text {
        color: $non-active;
    }
}
