@import '../../vars';

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loader {
    border: 3px solid $primary-light;
    border-top-color: $primary;
    width: 27px;
    border-radius: 50%;
    height: 27px;
    animation: spin 600ms linear infinite;
    &__msg {
        font-size: 19px;
        font-weight: $bold;
        color: #fff;
        margin-top: 30px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

