@import '../../vars';

.tweet {
    cursor: pointer;
    transition: all 200ms ease-in-out; 
    outline: none;
    &:hover {
        background: rgba(255, 255, 255, 0.03);
    }
    &:focus {
        box-shadow: $outline-shadow;
    }
    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__footer {
        padding: 5px 15px;
        min-height: 30px;
        display: flex;
        align-items: center;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        &:hover {
            background: $primary-background-light;
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
    }
    &__footer-dots {
        display: flex;
        flex-direction: column;
        margin: -2px;
        margin-left: 22px;
    }
    &__footer-dot {
        height: 2px;
        width: 2px;
        border-radius: 50%;
        background: $border;
        margin: 2px;
    }
    &__footer-text {
        color: $primary;
        margin-left: 34px;
    }
    &__replying {
        color: $primary;
        display: block;
        padding: 10px 0;
    }
    &__replying-text {
        color: $non-active;
        margin-right: 5px;
    }
    &__line {
        width: 2px;
        height: 100%;
        background: $border;
        margin-top: 4px;
    }
    &__inner {
        padding: 10px 15px 2px 15px;
        display: flex;
        color: #fff;
        outline: none;
    }
    &__content {
        margin-left: 10px;
        width: 100%;
    }
    &__content-date {
        color: $non-active;
    }
    &__dropdown-icon-container {
        margin-left: auto;
        border-radius: 50%;
        transition: all 200ms ease-in-out;
        outline: none;
        position: relative;
        cursor: pointer;
        &:hover {
            background: $primary-light; 
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
        &:hover .tweet__dropdown-icon, &:focus .tweet__dropdown-icon {
            color: $primary;
        }
    }
    &__dropdown-icon {
        font-size: 20px;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        outline: none;
        color: $non-active;
        svg {
            pointer-events: none;
        }
        path {
            transition: fill 200ms ease-in-out;
        }
    }
}

.tweeter {
    &__profile-image-container {
        min-width: 50px;
        min-height: 50px;
        background: $banner;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            max-width: 100%;
            border-radius: 50%;
            outline: none;
            &:hover, &:focus {
                opacity: 0.9;
            }
        }
    }
    &__info {
        display: flex;
    }
    &__info-name {
        font-size: 15px;
        font-weight: $bold;
        margin-right: 8px;
        outline: none;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
    &__info-handle {
        color: $non-active;
    }
}

.border-bottom {
    border-bottom: 1px solid $border;
    display: block;
}

