@import '../../vars';

.tweet {
    cursor: pointer;
    transition: all 200ms ease-in-out; 
    outline: none;
    border-bottom: 1px solid $border;
    &:hover {
        background: rgba(255, 255, 255, 0.03);
    }
    &:focus {
        box-shadow: $outline-shadow;
    }
    &__inner {
        padding: 10px 15px 2px 15px;
        display: flex;
        align-items: flex-start;
        color: #fff;
        outline: none;
    }
    &__actions {
        display: flex;
        max-width: 425px;
        justify-content: space-between;
        margin-top: 4px; 
        margin-left: -10px;
        color: $non-active;
    }
    &__actions-backdrop {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 4;
        cursor: default;
        display: none;
        &--active {
            display: block;
        }
    }
    &__actions-menu {
        box-shadow: $shadow;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        border-radius: 5px;
        overflow: hidden;
        display: none;
        &--active {
            display: block;
        }
    }
    &__actions-container {
        display: flex;
        align-items: center;
        justify-content:center;
        position: relative;
        border-radius: 50%;
        outline: none;
        transition: all 200ms ease-in-out;
        color: $primary;
        &:hover {
            background: $primary-light;
        }
        &:focus {
            box-shadow: $outline-shadow;
            background: $primary-light;
        }
        &:focus + .tweet__actions-count, &:hover + .tweet__actions-count {
            color: $primary;
        }
        &:hover .tweet__actions-icon, &:focus .tweet__actions-icon {
            color: $primary;
        }

        &--retweet {
            &:hover {
                background: $green-light;
            }
            &:hover + .tweet__actions-count {
                color: $green;
            }
            &:hover .tweet__actions-icon {
                color: $green;
            }
            &:focus {
                box-shadow: $green 0 0 0 2px;  
                background: $green-light;
            }
            &:focus .tweet__actions-icon {
                color: $green;
            }
        }
        &--heart {
            &:hover {
                background: $error-light;
            }
            &:hover + .tweet__actions-count {
                color: $error;
            }
            &:hover .tweet__actions-icon {
                color: $error;
            }
            &:focus {
                box-shadow: $error 0 0 0 2px;
                background: $error-light;
            }
            &:focus .tweet__actions-icon {
                color: $error;
            }
        }
    }
    &__actions-count {
        font-size: 13px;
        transition: color 200ms ease-in-out;
    }
    &__actions-icon {
        font-size: 20px;
        height: 34px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 200ms ease-in-out;
        outline: none;
        color: $non-active;
        svg {
            pointer-events: none;
        }
        path {
            transition: all 200ms ease-in-out;
        }
    }
    &__content {
        margin: 0 10px;
        width: 100%;
    }
    &__dropdown-icon-container {
        margin-left: auto;
        margin-right: -13px;
        border-radius: 50%;
        transition: all 200ms ease-in-out;
        outline: none;
        position: relative;
        &:hover {
            background: $primary-light; 
        }
        &:focus {
            box-shadow: $outline-shadow;
        }
        &:hover .tweet__dropdown-icon, &:focus .tweet__dropdown-icon {
            color: $primary;
        }
    }
    &__dropdown-icon {
        font-size: 20px;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        outline: none;
        color: $non-active;
        svg {
            pointer-events: none;
        }
        path {
            transition: fill 200ms ease-in-out;
        }
    }
}

.tweeter {
    &__profile-image-container {
        min-width: 50px;
        width: 50px;
        height: 50px;
        background: $banner;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            max-width: 100%;
            border-radius: 50%;
            outline: none;
            &:hover, &:focus {
                opacity: 0.9;
            }
        }
    }
    &__info {
        display: flex;
    }
    &__info-name {
        font-size: 15px;
        font-weight: $bold;
        margin-right: 8px;
        outline: none;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
    &__info-handle {
        color: $non-active;
    }
}

